{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Attack Plan: {{ attack_state.name }}</h1>
        <a href="{% url 'dashboard_attack_detail' attack_state.id %}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
            <i class="fas fa-arrow-left fa-sm text-white-50"></i> Back to Detail
        </a>
    </div>

    <div class="row">
        <div class="col-12">
            {% include 'dashboard/partials/plan_steps.html' %}
        </div>
    </div>
</div>
{% endblock %}